name: Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  skipci:
    runs-on: ubuntu-20.04
    steps:
      - run: echo "[skip ci] ${{ contains(github.event.head_commit.message, '[skip ci]') }}"

  test:
    runs-on: ${{ matrix.os }}
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    strategy:
      matrix:
        os:
          - 'ubuntu-20.04'
          - 'macos-latest'
          - 'windows-latest'
    steps:
      - uses: actions/checkout@v3

      - name: Read .nvmrc
        run: echo "::set-output name=NVMRC::$(cat .nvmrc)"
        id: nvm

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - run: npm ci

      - name: Run prettier
        if: startsWith(matrix.os, 'ubuntu-18.04')
        run: npm run format:check

      - name: Run eslint
        if: startsWith(matrix.os, 'ubuntu-18.04')
        run: npm run lint

      - name: Run ncc
        if: startsWith(matrix.os, 'ubuntu-18.04')
        run: npm run build

      - run: npm test
